/*Question Form Styling*/
.archive-question{
    display: table-row;
    width: 100%;
}

.archive-cell{
    display: table-cell;
    min-width: 40px;
    background-color: #555;
    border: solid 1px black;
    padding: 5px;
}

.archive-question-add{
    text-align: center;
    vertical-align: middle;
}
