<!doctype html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>edisco | {% block title_block %}The Teacher's Tool{% endblock%}</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"></link>
        <link rel="stylesheet" href="{% static "css/edisco_style.css" %}"></link>
        <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    </head>

    <body class="custom dev">
            <nav class= "navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">edisco</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!--Menu Items-->
                            <li><a href="/about/">About</a></li>
                            <li><a href="/gen/generator/">The Generator</a></li>
                        </ul>
                        {% if user.is_authenticated %}
                            <p class="navbar-text navbar-right">Signed in as <a href="/gen/dashboard/"</a>{{ user.username }}</a>&nbsp;|&nbsp;<a href="{% url 'auth_logout' %}">Sign Out</a>
                                {% if user.is_staff %}
                                    &nbsp;|&nbsp;<a href="/admin/">Admin</a>
                                {% endif %}
                            </p>
                        {% else %}
                            <p class="navbar-text navbar-right"><a href="{% url 'auth_login' %}">Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="container">
                {% block body_block %}This is the block's default content.{% endblock %}
            </div>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>
